option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: APP_ENV
     value: production
   - option_name: APP_DEBUG
     value: true
   - option_name: APP_KEY
     value: base64:yK3it7V+HcaIaA+LU+/JPHxek3qj70Kn1CCgLvxkqN8=
   - option_name: DB_HOST
     value: 127.0.0.1
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: homestead
   - option_name: DB_USERNAME
     value: homestead
   - option_name: DB_PASSWORD
     value: secret
   - option_name: QUEUE_DRIVER
     value: sync
   - option_name: SESSION_DRIVER
     value: file